.pagina-treino {
  .secao {
    h1 {
      font: 500 30px "Poppins"; 
    }
    #h2 {
      font: 300 20px "Roboto"
    }
    input {
      margin-top: 10px;
    }
    button {
      margin-top: 18px;
    }
  }
}
